/* CSS for home.html */
/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
#header {
  min-height: 100px;
  background-color: rgb(77, 77, 77);
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: white;
  text-align: center;
  padding: 15px 0px 15px 0px;
}

/* navigation */
.scroll-nav {
  position: sticky;
  top: 0%;
  z-index: 1;
  width: 100%;
}

.navlist {
  position: relative;
  color: whitesmoke;
  background-color: gray;
  margin: 0;
  padding-left: 30px;
}

.navlist li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.navlist li {
  padding: 10px;
  display: inline-block;
}

.navlist li:hover {
  background-color: rgb(34, 33, 33);
}

.navlist li:nth-child(2):hover #dropdown-ourmedicine,
.navlist li:nth-child(3):hover #dropdown-healthcare {
  display: block;
}
#dropdown-ourmedicine,
#dropdown-healthcare {
  position: absolute;
  display: none;
  top: 40px;
  background-color: rgb(241, 247, 249);
  padding: 0%;
}

#dropdown-ourmedicine li,
#dropdown-healthcare li {
  display: block;
}

#dropdown-ourmedicine li:hover,
#dropdown-healthcare li:hover {
  background-color: rgb(53, 52, 52);
}

#dropdown-ourmedicine li a,
#dropdown-healthcare li a {
  color: rgb(125, 159, 240);
  font-size: 18px;
}
/* image animation */
.animation {
  border: 2px solid steelblue;
  height: auto;
  min-height: 400px;
  width: auto;
  margin: 5px;
  place-items: center;
  animation-name: slide;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    background-image: url(Images/Animation/ani1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  25% {
    background-image: url(Images/Animation/ani2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  50% {
    background: url(Images/Animation/ani3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  75% {
    background: url(Images/Animation/ani4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  100% {
    background: url(Images/Animation/ani5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

/* products sections*/
section {
  margin: 10px;
}
.container {
  padding: 40px 10px 40px 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
}
.items {
  background-color: rgb(235, 238, 255);
  display: inline-block;
  padding: 10px;
  margin: 15px;
  width: 300px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 1.5px #ccc;
  transition: transform 0.2s;
}

.items:hover {
  transform: scale(1.15);
}

.product-image {
  width: auto;
  height: 150px;
  margin-bottom: 5px;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.costTxt {
  color: blue;
  text-align: left;
}
.addToCart {
  color: orange;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: rgb(222, 227, 255);
  font-size: 16px;
  text-align: center;
  padding: 2px 10px 2px 10px;
  display: block;
  width: 100%;
}
.addToCart:active {
  background-color: rgb(250, 234, 230);
  border: 2px solid rgb(0, 255, 76);
}

button:focus {
  background-color: rgb(250, 234, 230);
  border: 2px rgb(0, 255, 76);
}

/* footer */
#footer {
  min-height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 1%;
}
